@import '_config';
@import '_reset';
@import '_buttons';

#root {

	height: 100%;
}

.answer-it {

	height: 100%;
	font-size: 16px;
	overflow-x: hidden;

	@import 'components/header';
	@import 'components/footer';
 
	main {

		position: relative;
		padding-top: 50px;

		h1 {

			color: $color-dark;
		}

		@import 'components/home';
		@import 'components/question-list';
		@import 'components/question-element';
		@import 'components/confirm';
		@import 'components/form';
	}

	.section-content {

		max-width: 980px;
		margin: auto;
		text-align: center;
	}
}