html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }
  html body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif, Verdana, Arial, Helvetica, sans-serif; }
    html body hr {
      display: none; }
    html body form {
      margin: 0;
      padding: 0; }
    html body div {
      margin: 0;
      padding: 0;
      border: 0; }
    html body img {
      margin: 0;
      padding: 0;
      border: none; }
    html body h1, html body h2, html body h3, html body h4, html body h5 {
      margin: 0;
      padding: 0; }
    html body ul, html body li {
      margin: 0;
      padding: 0;
      list-style: none; }
    html body a {
      text-decoration: none;
      color: inherit; }
    html body input {
      border: 0;
      margin: 0; }

*, :after, :before {
  box-sizing: inherit; }

.button {
  text-transform: uppercase; }

input[type=text],
input[type=password],
input[type=number] {
  border-bottom: 1px solid #404040;
  padding: 5px 20px;
  outline: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s; }
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=number]:focus {
    border-color: #ff9800; }

input[type=submit] {
  background-color: #fff;
  color: #404040;
  border: 1px solid #404040;
  border-radius: 25px;
  padding: 5px 20px;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s; }
  input[type=submit]:hover {
    background-color: #404040;
    color: #fff; }

#root {
  height: 100%; }

.answer-it {
  height: 100%;
  font-size: 16px;
  overflow-x: hidden; }
  .answer-it header {
    display: block;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background: #b40000;
    color: #fff;
    z-index: 100; }
    .answer-it header .logo {
      position: absolute;
      top: 50%;
      left: 15px;
      text-shadow: 1px 1px 2px #fff;
      font-weight: bold;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      transform: translate(0, -50%); }
      .answer-it header .logo .it {
        color: #404040; }
    .answer-it header nav {
      position: absolute;
      height: 100%;
      top: 0;
      right: 15px;
      font-weight: bold;
      font-size: 0.75em; }
      .answer-it header nav ul {
        height: 100%; }
        .answer-it header nav ul li {
          display: inline-block;
          height: 100%;
          line-height: 50px;
          -webkit-transition: 0.4s ease-in-out;
          -moz-transition: 0.4s ease-in-out;
          transition: 0.4s ease-in-out; }
          .answer-it header nav ul li:hover {
            color: #b40000;
            background-color: #ff9800;
            -webkit-transition: 0.4s ease-in-out;
            -moz-transition: 0.4s ease-in-out;
            transition: 0.4s ease-in-out; }
          .answer-it header nav ul li a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 0 10px; }
            .answer-it header nav ul li a.active {
              text-decoration: underline; }
  .answer-it footer {
    padding: 20px 0;
    margin-top: 30px;
    color: #404040;
    -webkit-box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.25); }
    .answer-it footer .copyright {
      font-size: 0.75em; }
  .answer-it main {
    position: relative;
    padding-top: 50px; }
    .answer-it main h1 {
      color: #404040; }
    .answer-it main .home {
      position: relative;
      width: 100%;
      background-image: url("http://www.eagleonline.com/wp-content/uploads/Survey.jpg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: -moz-calc(100vh - 50px - 92px);
      height: -o-calc(100vh - 50px - 92px);
      height: -webkit-calc(100vh - 50px - 92px);
      height: calc(100vh - 50px - 92px); }
      .answer-it main .home .welcome {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 40px;
        border-radius: 25px;
        text-align: center;
        color: #404040;
        background-color: #fff;
        /* The Fallback */
        background-color: rgba(255, 255, 255, 0.75);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.25); }
        .answer-it main .home .welcome p {
          margin: 0;
          margin-top: 20px;
          font-weight: bold; }
    .answer-it main .sign-up,
    .answer-it main .log-in {
      position: relative;
      height: -moz-calc(100vh - 50px - 92px);
      height: -o-calc(100vh - 50px - 92px);
      height: -webkit-calc(100vh - 50px - 92px);
      height: calc(100vh - 50px - 92px);
      padding-top: 60px; }
      .answer-it main .sign-up form,
      .answer-it main .log-in form {
        width: 400px;
        margin: 0 auto; }
        .answer-it main .sign-up form input[type=text],
        .answer-it main .sign-up form input[type=password],
        .answer-it main .sign-up form input[type=submit],
        .answer-it main .log-in form input[type=text],
        .answer-it main .log-in form input[type=password],
        .answer-it main .log-in form input[type=submit] {
          width: 100%;
          margin-top: 20px;
          text-align: center; }
        .answer-it main .sign-up form .row,
        .answer-it main .log-in form .row {
          width: 100%;
          margin-top: 20px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .answer-it main .sign-up form .row input[type=checkbox],
          .answer-it main .log-in form .row input[type=checkbox] {
            cursor: pointer;
            margin-right: 10px; }
          .answer-it main .sign-up form .row label,
          .answer-it main .log-in form .row label {
            cursor: pointer; }
          .answer-it main .sign-up form .row .error,
          .answer-it main .log-in form .row .error {
            font-size: 0.8em;
            font-weight: bold;
            color: #b40000; }
  .answer-it .section-content {
    width: 980px;
    margin: auto;
    text-align: center; }

/*# sourceMappingURL=style.css.map */