.form {

	position: relative;
	@include calc(height, #{"100vh - 50px - 92px"});
	padding-top: 60px;

	form {

		width: 400px;
		margin: 0 auto;

		input[type=text],
		input[type=password],
		input[type=submit],
		button {

			width: 100%;
			margin-top: 20px;
			text-align: center;
		}

		select {

			width: 100%;
			margin-top: 20px;
		}

		.row {

			width: 100%;
			margin-top: 20px;
			display: flex;
			justify-content: center;
			align-items: center;

			input[type=checkbox] {

				cursor: pointer;
				margin-right: 10px;
			}

			label {

				cursor: pointer;
			}

			.error {

				font-size: 0.8em;
				font-weight: bold;
				color: $color-primary;
			}
		}

		.bottom-text {

			text-align: center;
			margin-top: 40px;

			.button {

				margin-left: 20px;
			}
		}
	}
}