.question-list {

	margin-top: 30px;
	text-align: left;

	h3 {

		margin: 20px 0;
	}

	h2 {

		cursor: pointer;
		margin: 20px 0;
		@include transition(.2s ease-in-out);

		&:hover {

			color: $color-secondary;
		}
	}

	.button {

		margin-left: 20px;
    	font-size: 0.8em;
	}

	.empty-list {

		margin-top: 20px;
	}
}